body{
    margin: 0;
    background-color: lightgrey;
}

.head{
    width: 200;
    height: 100px;
    background-color: white;
}

/* head */
.logo{
    width: 50px;
}

.logo-text{
    display: inline;
    margin: 0%;
}

/* Main */

main{
    width: 600px;
    background-color: white;
    margin: 20px auto;
}

.add{
    width: 900px;
    height: 700px;
    border: 5px;
}

.Task{
    padding: 2px;
    background-color:#3da8f0 ;
    color: white;
}

.Section{
    padding: 2px;
    background-color: white;
    color: grey;
}

ul {
    list-style-type: none;
    }
    .editorial{
        background-color:#45abea ;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }

    .q1{
        background-color:#9c72e4;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }

    .rec{
        background-color:#64c0a9;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }

    .mobile{
        background-color:#f29e33 ;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }

    .website{
        background-color:#d863a1;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }
    .sales{
        background-color:#b0c926;
        padding: 5px;
        border-radius: 10px;
        font-size: 50%;
        color: white;
    }




 

    










.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    display: inline;
    border: 1px solid green;

}

